* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #657b83;
    color: white;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #657b83;
}

a:active{
    text-decoration: none;
    color: #657b76
}

.og-nav, nav ul {
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #657b76;
    padding: 10px;
}

nav li {
    padding-left: 0;
    margin-right: 20px;
    display: inline-block;
    align-items: center;
}

.og-nav, nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
    margin-top: 10px
}

footer {
    text-align: center;
    background-color: #fdf6e3;
    color: #657b76;
    padding: 20px;
}

body {
    font-family: 'Fira Code',
    monospace;
    background-color: #fdf6e3;
    color: #657b83;
}

.projects, .boxes {
    display: flex;
    flex-wrap: wrap;
}

.project, .box {
    width: 600px;
    height: 310px;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 20px;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.project:hover, .box:hover {
    box-shadow: 10px 10px 6px rgba(101, 123, 118, 0.5);
}

.content, .powerbi {
    box-shadow: 10px 10px 6px rgba(101,123,118,0.5);
}

.project, .box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project, .box p {
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 50%;
    max-height: 60%;
    overflow-y: auto;
}

.icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.icons-container {
    position: absolute;
    bottom: 10;
    left: 10;
    max-width: 50%;
    max-height: 20%;
    object-fit: contain;
    overflow-x: auto;
} /* container for the icon images */

.icons-container img {
    width: 50px;
    height: 50px;
    margin: 5px;
    object-fit: contain;
} /* the icon images themselves */

.image-container {
    position: absolute;
    bottom: 10;
    right: 10;
    max-width: 47%;
    max-height: auto;
    object-fit: contain;
} /* container for the project images */

.image-container img {
    max-width: 100%;
    max-height: 50%;
    width: 200px;
    height: 200px;
    object-fit: contain;
} /* the project images themselves */

pre {
    margin: 10px;
    border: 1px solid #ddd;
}

/* .project p, .icons-container, .image-container {
    border: 1px solid #ddd;
} */

.reset {
    cursor: pointer;
}

iframe {
    /* border: none; */
    height: 80vh !important;
}

body .gist .gist-file {
    margin-bottom: 0;
    border: 1px solid #ddd;
    border-radius: 0;
}

body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
}

body .gist .gist-meta {
    display: none;
}

.render-viewer {
    height: 80vh !important;
    overflow: hidden !important;
  }

table {
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #657b83;
}

th, td {
    padding: 10px;
    text-align: right;
}

.input_wrapper {
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

input:focus {
    outline: 2px solid #657b83;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: #657b83;
}
